<!DOCTYPE html>
<html>
  <head>
    <title>NFC Books</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'ember-vendor', media: 'all' %>
    <%= stylesheet_link_tag 'ember-frontend', media: 'all' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.26.4/css/uikit.min.css" />
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= javascript_include_tag 'ember-vendor' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.26.4/js/uikit.min.js"></script>
    <%= javascript_include_tag 'ember-frontend' %>
  </body>
</html>
