<div class="row" style="width:100%">
  <div class="col-md-10 col-md-offset-1">
    <div class="row">
      <div class="col-md-4">
        <img class="img-responsive" style="width: 100%" src={{model.picture}} />
      </div>
      <div class="col-md-8">
        <div class="panel panel-default">
          <div class="panel-body">
            <h3>{{model.title}}</h3>
            <p>{{model.author}}</p>
            <p>{{model.description}}</p>
            {{#if model.hasEbook}}
            <div class="panel panel-info">
              <div class="panel-heading">EBook Download</div>
              <div class="panel-body">
                {{#each model.resources as |resource|}} {{#if resource.isEbook}}
                <a class="btn btn-default" href={{resource.file}} download={{resource.eBookDownloadName}} role="button">{{resource.eBookFormat}}</a> {{/if}} {{/each}}
              </div>
            </div>
            {{/if}}
            {{#if model.hasAudiobook}}
            <div class="panel panel-default">
              <div class="panel-heading">Audiobook</div>
              <ul class="list-group">
                {{#each model.resources as |resource|}} {{#if resource.isAudiobook}}
                <li class="list-group-item" {{action "listen" resource}}>
                  {{#unless resource.expanded}}
                  {{resource.name}}
                  {{/unless}}
                  {{#if resource.expanded}}
                  <audio controls>
                    <source src={{resource.file}} type="audio/mpeg"> Your browser does not support the audio element.
                  </audio>
                  {{/if}}
                </li>
                {{/if}} {{/each}}
              </ul>
            </div>
            {{/if}}
            {{#if model.hasInterview}}
            <div class="panel panel-default">
              <div class="panel-heading">Interviews</div>
              <ul class="list-group">
                {{#each model.resources as |resource|}} {{#if resource.isInterview}}
                <li class="list-group-item" {{action "listen" resource}}>
                  {{#unless resource.expanded}}
                  {{resource.name}}
                  {{/unless}}
                  {{#if resource.expanded}}
                  <audio controls>
                    <source src={{resource.file}} type="audio/mpeg"> Your browser does not support the audio element.
                  </audio>
                  {{/if}}
                </li>
                {{/if}} {{/each}}
              </ul>
            </div>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{outlet}}
