<div class="uk-grid">
  <div class="uk-width-medium-1-6"></div>
  <div class="uk-width-medium-4-6">
    <h2></h2>
    <div>
      {{#each model as |publication|}}
      {{#link-to "publication" publication}}
      <div class="uk-panel uk-panel-box uk-panel-box-primary">
        <div class="uk-grid">
          <div class="uk-width-1-6">
            <div class="book-icon"><img src={{publication.picture}} /></div>
          </div>
          <div class="uk-width-5-6">
            <h3 class="uk-panel-title">{{publication.title}}</h3>
            <p>{{publication.author}}</p>
            <p>{{publication.description}}</p>
          </div>
        </div>
      </div>
      {{/link-to}}
      {{/each}}
    </div>
  </div>
  <div class="uk-width-medium-1-6"></div>
</div>
{{outlet}}
