<div class="row" style="width:100%">
  <div class="col-md-8 col-md-offset-2">
    <h2></h2>
    <div>
      {{#each model as |publication|}} {{#link-to "publication" publication}}
      <div class="bs-callout bs-callout-warning" id="callout-tables-responsive-overflow">
        <div class="row">
          <div class="col-md-4">
              <img class="img-responsive" src={{publication.picture}} />
          </div>
          <div class="col-md-8">
            <h3 class="uk-panel-title">{{publication.title}}</h3>
            <p>{{publication.author}}</p>
            <p>{{publication.description}}</p>
          </div>
        </div>
      </div>
      {{/link-to}} {{/each}}
    </div>
  </div>
</div>
{{outlet}}
