<div class={{class}} {{action "click"}}>
  <h1>NFC Books</h1>
</div>
<!--
<nav class="uk-navbar">
  <ul class="uk-navbar-nav">
    {{#link-to "publications" tagName="li" activeClass="uk-active"}}
    <a href={{view.href}}>Catalogue</a> {{/link-to}}
    {{#link-to "about" tagName="li" activeClass="uk-active"}}
    <a href={{view.href}}>About</a> {{/link-to}}
  </ul>
</nav>-->
{{yield}}
